.Logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.Logo__image {
  width: 50px;
  color: grey;
}

.Logo__title {
  font-family: 'Lacquer', sans-serif;
  font-size: 30px;
  color:#2c2c30;
}