.Footer {
  height: 20vh;
  align-self: flex-end;
}

.fab {
  font-size: 1.5em;
  color: grey;
  margin-right: 1em;
  margin-left: 1em;
}

.Footer__links {
  width: 70vw;
  margin: 3em auto;
  display: flex;
  justify-content: space-around;
}

.Footer__text {
  font-family: 'Raleway', sans-serif;
  font-size: .9em;
  text-align: center;
  font-style: italic;
}

.Footer__copyright {
  width: 80vw;
  margin: 0 auto 4em auto;
}

.Footer__highlightText {
  color: black;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1.2em;
  letter-spacing: 4px;
}


@media(min-width: 450px) {
  .Footer__links {
    width: 70vw;
    margin: 3em auto;
    display: flex;
    justify-content: space-around;
  }

  .Footer__text {
    margin-bottom: .5em;
  }

  .Footer__copyright {
    width: 40vw;
    margin: 0 auto 4em auto;
  }
}

@media(min-width: 700px) {
  .Footer__links {
    width: 40vw;
    margin: 3em auto;
  }

  .Footer__text {
    margin-bottom: .5em;
  }

  .Footer__copyright {
    width: 40vw;
    margin: 0 auto 4em auto;
  }
}

@media(min-width: 800px) {
  .Footer {
    height: 20vh;
  }
  
  .fab {
    font-size: 1.5em;
    color: grey;
    margin-right: 1em;
    margin-left: 1em;
  }
  
  .Footer__links {
    width: 20vw;
    margin: 3em auto;
  }
  
  .Footer__text {
    font-family: 'Raleway', sans-serif;
    font-size: .9em;
    text-align: center;
    font-style: italic;
    margin-bottom: unset;
  }
  
  .Footer__copyright {
    width: 20vw;
    margin: 0 auto;
  }
  
  .Footer__highlightText {
    color: black;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1.2em;
    letter-spacing: 4px;
  }
}