.ContactUs {
  margin-top: 13vh;
  width: 100vw;
  margin-bottom: 10vh;
}

.ContactUs__header {
  font-size: 3em;
  text-align: center;
  letter-spacing: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.ContactUs__content {
  margin: 8vh auto 0 auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

@media(min-width: 450px) {
  .ContactUs__content {
    margin: 8vh auto 0 auto;
    width: 80vw;
  }
}

@media(min-width: 800px) {
  .ContactUs {
    margin-top: 13vh;
    width: 100vw;
    margin-bottom: 10vh;
  }
  
  .ContactUs__header {
    font-size: 3em;
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }
  
  .ContactUs__content {
    margin: 8vh auto 0 auto;
    width: 70vw;
    display: flex;
    flex-direction: row;
  }
}