.Form {
  width: 80vw;
  margin-right: 1.5em;
}

.Form__fields {
 
  display: flex;
}

.Form__labels {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.Form__label {
  font-size: 1em;
  margin-bottom: 6vh;
  font-weight: bold;
  letter-spacing: 3px;
  width: 30vw;
}

.Form__inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 1em;
}

.Form__input {
  box-sizing: border-box;
  margin-bottom: 4vh;
  width: calc(100% - .5em);
  padding: .5em;
  border: 1px solid rgba(56, 52, 52, 0.8);
}

.Form__button {
  border: none;
  font-size: 1.2em;
  background: #b0b4bf;
  padding: .5em;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  width: 80vw;
  right: 0;
  text-align: center;
}

.Form__input {
  outline: none;
}

.Error {
  border:solid 1px red;
}

.Input__error {
  color: red;
}

@media(min-width: 450px) {
  .Form__label {
    font-size: 1em;
  }
  .Form__input {
    border: 1px solid rgba(56, 52, 52, 0.8);
    width: calc(100% - .5em);
  }
  .Form__button {
    margin: 0;
    width: 100%;
  }
  .Error {
    border:solid 1px red;
  }
  .Input__error {
    font-size: .8em;
  }
}

@media(min-width: 800px) {
  .Form {
    width: 60vw;
    margin-right: 1.5em;
  }
  
  .Form__fields {
    display: flex;
  }
  
  .Form__labels {
    display: flex;
    flex-direction: column;
    width: 20vw;
  }
  
  .Form__label {
    font-size: 1.5em;
    margin-bottom: 6vh;
    font-weight: bold;
    letter-spacing: 3px;
  }
  
  .Form__inputs {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 1em;
  }
  
  .Form__input {
    margin-bottom: 5vh;
    width: 90%;
    padding: .5em;
  }
  
  .Form__button {
    border: none;
    font-size: 1.2em;
    background: #b0b4bf;
    padding: .5em;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 0 0 75%;
    width: 8vw;
    right: 0;
  }
  
  .Form__input {
    outline: none;
  }
  
  .Error {
    border:solid 1px red;
  }
  
  .Input__error {
    color: red;
    font-size: .9em;
  }
}