.Banner {
  position: relative;
  overflow: hidden;
  height: 80vh;
}

.Banner__image {
  width: 100vw;
  filter: brightness(90%);

}

.Banner__text {
  position: absolute;
  top: 20%;
  right: 5vw;
  font-size: 4em;
  color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
}