@import url('https://fonts.googleapis.com/css?family=Lacquer|Montserrat|Raleway&display=swap');
@import './components/css-reset/css-reset';
@import './components/header/hamburger';
@import './components/header/header';
@import './components/header/logo';
@import './components/header/nav';
@import './components/home/slider';
@import './components/home/banner';
@import './components/home/bannerCard';
@import './components/footer/footer';


@import './components/product/filter';
@import './components/product/productGrid';
@import './components/product/itemCard';